In [1]:
#uncomment all lines below in this cell to replicate my installation on colab

!pip install qeds fiona geopandas xgboost gensim folium pyLDAvis descartes psaw pyarrow
!apt-get install libproj-dev proj-data proj-bin  
!apt-get install libgeos-dev  
!pip install cython  
!pip install cartopy 
!brew install proj geos
!pip3 uninstall shapely
!pip3 install --upgrade cython numpy pyshp six
!pip3 install shapely --no-binary shapely
!pip3 install git+https://github.com/SciTools/cartopy.git --no-binary cartopy
!pip install fuzzywuzzy
!pip install python-Levenshtein

Requirement already satisfied: qeds in /usr/local/lib/python3.6/dist-packages (0.6.2)
Requirement already satisfied: fiona in /usr/local/lib/python3.6/dist-packages (1.8.13.post1)
Requirement already satisfied: geopandas in /usr/local/lib/python3.6/dist-packages (0.7.0)
Requirement already satisfied: xgboost in /usr/local/lib/python3.6/dist-packages (0.90)
Requirement already satisfied: gensim in /usr/local/lib/python3.6/dist-packages (3.6.0)
Requirement already satisfied: folium in /usr/local/lib/python3.6/dist-packages (0.8.3)
Requirement already satisfied: pyLDAvis in /usr/local/lib/python3.6/dist-packages (2.1.2)
Requirement already satisfied: descartes in /usr/local/lib/python3.6/dist-packages (1.1.0)
Requirement already satisfied: psaw in /usr/local/lib/python3.6/dist-packages (0.0.12)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.6/dist-packages (0.14.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from qeds) (4.4.1)
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.6/dist-packages (from qeds) (0.8.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from qeds) (3.2.1)
Requirement already satisfied: quandl in /usr/local/lib/python3.6/dist-packages (from qeds) (3.5.0)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.6/dist-packages (from qeds) (0.10.2)
Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (from qeds) (0.10.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from qeds) (2.23.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from qeds) (1.0.4)
Requirement already satisfied: quantecon in /usr/local/lib/python3.6/dist-packages (from qeds) (0.4.7)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from qeds) (0.22.2.post1)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.6/dist-packages (from qeds) (2.5.9)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from qeds) (1.18.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from qeds) (1.4.1)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.6/dist-packages (from fiona) (1.1.1)
Requirement already satisfied: munch in /usr/local/lib/python3.6/dist-packages (from fiona) (2.5.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona) (19.3.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona) (1.15.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.6/dist-packages (from fiona) (0.5.0)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona) (7.1.2)
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.7.0)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (2.6.1.post1)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.6/dist-packages (from gensim) (2.0.0)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from folium) (0.4.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from folium) (2.11.2)
Requirement already satisfied: pytest in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (3.6.4)
Requirement already satisfied: wheel>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (0.34.2)
Requirement already satisfied: numexpr in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (2.7.1)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (0.16.0)
Requirement already satisfied: joblib>=0.8.4 in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (0.15.1)
Requirement already satisfied: funcy in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (1.14)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->qeds) (1.3.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (from pandas-datareader->qeds) (4.2.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->qeds) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->qeds) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->qeds) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->qeds) (2.4.7)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.6/dist-packages (from quandl->qeds) (8.3.0)
Requirement already satisfied: inflection>=0.3.1 in /usr/local/lib/python3.6/dist-packages (from quandl->qeds) (0.5.0)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from statsmodels->qeds) (0.5.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->qeds) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->qeds) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->qeds) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->qeds) (2020.4.5.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->qeds) (2018.9)
Requirement already satisfied: numba>=0.38 in /usr/local/lib/python3.6/dist-packages (from quantecon->qeds) (0.48.0)
Requirement already satisfied: sympy in /usr/local/lib/python3.6/dist-packages (from quantecon->qeds) (1.1.1)
Requirement already satisfied: jdcal in /usr/local/lib/python3.6/dist-packages (from openpyxl->qeds) (1.4.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.6/dist-packages (from openpyxl->qeds) (1.0.1)
Requirement already satisfied: boto in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim) (2.49.0)
Requirement already satisfied: boto3 in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim) (1.13.19)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->folium) (1.1.1)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest->pyLDAvis) (1.8.1)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.6/dist-packages (from pytest->pyLDAvis) (0.7.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from pytest->pyLDAvis) (47.1.1)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.6/dist-packages (from pytest->pyLDAvis) (1.4.0)
Requirement already satisfied: llvmlite<0.32.0,>=0.31.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.38->quantecon->qeds) (0.31.0)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.6/dist-packages (from sympy->quantecon->qeds) (1.1.0)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim) (0.3.3)
Requirement already satisfied: botocore<1.17.0,>=1.16.19 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim) (1.16.19)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim) (0.10.0)
Requirement already satisfied: docutils<0.16,>=0.10 in /usr/local/lib/python3.6/dist-packages (from botocore<1.17.0,>=1.16.19->boto3->smart-open>=1.2.1->gensim) (0.15.2)
Reading package lists... Done
Building dependency tree
Reading state information... Done
libproj-dev is already the newest version (4.9.3-2).
proj-bin is already the newest version (4.9.3-2).
proj-data is already the newest version (4.9.3-2).
0 upgraded, 0 newly installed, 0 to remove and 32 not upgraded.
Reading package lists... Done
Building dependency tree
Reading state information... Done
libgeos-dev is already the newest version (3.6.2-1build2).
0 upgraded, 0 newly installed, 0 to remove and 32 not upgraded.
Requirement already satisfied: cython in /usr/local/lib/python3.6/dist-packages (0.29.19)
Requirement already satisfied: cartopy in /usr/local/lib/python3.6/dist-packages (0.18.1.dev28-)
Requirement already satisfied: numpy>=1.10 in /usr/local/lib/python3.6/dist-packages (from cartopy) (1.18.5)
Requirement already satisfied: shapely>=1.5.6 in /usr/local/lib/python3.6/dist-packages (from cartopy) (1.7.0)
Requirement already satisfied: pyshp>=1.1.4 in /usr/local/lib/python3.6/dist-packages (from cartopy) (2.1.0)
Requirement already satisfied: setuptools>=0.7.2 in /usr/local/lib/python3.6/dist-packages (from cartopy) (47.1.1)
/bin/bash: brew: command not found
Uninstalling Shapely-1.7.0:
  Would remove:
    /usr/local/lib/python3.6/dist-packages/Shapely-1.7.0-py3.6.egg-info
    /usr/local/lib/python3.6/dist-packages/shapely/*
Proceed (y/n)? y
  Successfully uninstalled Shapely-1.7.0
Requirement already up-to-date: cython in /usr/local/lib/python3.6/dist-packages (0.29.19)
Requirement already up-to-date: numpy in /usr/local/lib/python3.6/dist-packages (1.18.5)
Requirement already up-to-date: pyshp in /usr/local/lib/python3.6/dist-packages (2.1.0)
Requirement already up-to-date: six in /usr/local/lib/python3.6/dist-packages (1.15.0)
Collecting shapely
  Using cached https://files.pythonhosted.org/packages/44/ec/4eddbf9d17a917c51fb4ad159aa7137f506681e91ab559cf87d120e1d78d/Shapely-1.7.0.tar.gz
Skipping wheel build for shapely, due to binaries being disabled for it.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: shapely
    Running setup.py install for shapely ... done
Successfully installed shapely-1.7.0
Collecting git+https://github.com/SciTools/cartopy.git
  Cloning https://github.com/SciTools/cartopy.git to /tmp/pip-req-build-vslkw660
  Running command git clone -q https://github.com/SciTools/cartopy.git /tmp/pip-req-build-vslkw660
Requirement already satisfied (use --upgrade to upgrade): Cartopy===0.18.1.dev28- from git+https://github.com/SciTools/cartopy.git in /usr/local/lib/python3.6/dist-packages
Requirement already satisfied: numpy>=1.10 in /usr/local/lib/python3.6/dist-packages (from Cartopy===0.18.1.dev28-) (1.18.5)
Requirement already satisfied: shapely>=1.5.6 in /usr/local/lib/python3.6/dist-packages (from Cartopy===0.18.1.dev28-) (1.7.0)
Requirement already satisfied: pyshp>=1.1.4 in /usr/local/lib/python3.6/dist-packages (from Cartopy===0.18.1.dev28-) (2.1.0)
Requirement already satisfied: setuptools>=0.7.2 in /usr/local/lib/python3.6/dist-packages (from Cartopy===0.18.1.dev28-) (47.1.1)
Skipping wheel build for Cartopy, due to binaries being disabled for it.
Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.6/dist-packages (0.18.0)
Requirement already satisfied: python-Levenshtein in /usr/local/lib/python3.6/dist-packages (0.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from python-Levenshtein) (47.1.1)

In [0]:
import pandas as pd 
import os
import IPython

import json
#with open("to_from_data.json", "r") as read_file:
   #rankings = json.load(read_file)
#data = pd.DataFrame(rankings)

In [0]:
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

import qeds
qeds.themes.mpl_style();

from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [0]:
ranking_data = pd.read_json("tilburg_2019_aa_dsouza.json") #set directory as necessary
pd.set_option('display.max_rows', ranking_data.shape[0]+1)

#input n x 2 dataframe with columns renamed to "rank", "institution" such that "rank" dtype is int64 and "institution" dtype is string

In [0]:
ranking_data["rank"] = ranking_data.index + 1 #give rank number to all institutions, ties resolved alphabetically
ranking_data = ranking_data.rename(columns = {"University": "institution"})
ranking_data["institution"] = ranking_data["institution"].astype(str)
ranking_data = ranking_data[["rank", "institution"]]

In [6]:
ranking_data

     rank                                        institution
0       1                                STANFORD UNIVERSITY
1       2   LONDON SCHOOL OF ECONOMICS AND POLITICAL SCIENCE
2       3                              UNIVERSITY OF CHICAGO
3       4              MASSACHUSETTS INSTITUTE OF TECHNOLOGY
4       5                                 HARVARD UNIVERSITY
5       6                               PRINCETON UNIVERSITY
6       7                 UNIVERSITY OF CALIFORNIA, BERKELEY
7       8                            NORTHWESTERN UNIVERSITY
8       9                         UNIVERSITY OF PENNSYLVANIA
9      10                               UNIVERSITY OF OXFORD
10     11                                NEW YORK UNIVERSITY
11     12                                COLUMBIA UNIVERSITY
12     13                                 BOCCONI UNIVERSITY
13     14                                  MONASH UNIVERSITY
14     15                                    YALE UNIVERSITY
15     16                              UNIVERSITY OF WARWICK
16     17                          UNIVERSITY COLLEGE LONDON
17     18                                    DUKE UNIVERSITY
18     19                             UNIVERSITY OF MICHIGAN
19     20                                 CORNELL UNIVERSITY
20     21              UNIVERSITY OF CALIFORNIA, LOS ANGELES
21     22                UNIVERSITY OF CALIFORNIA, SAN DIEGO
22     23                              UNIVERSITY OF TORONTO
23     24                                  PEKING UNIVERSITY
24     25  UNIVERSITY OF TOULOUSE / TOULOUSE SCHOOL OF EC...
25     26                                UNIVERSITY OF ESSEX
26     27                                  BOSTON UNIVERSITY
27     28                   NATIONAL UNIVERSITY OF SINGAPORE
28     29                   QUEEN MARY, UNIVERSITY OF LONDON
29     30                            UNIVERSITY OF AMSTERDAM
30     31                                   BROWN UNIVERSITY
31     32                              GEORGETOWN UNIVERSITY
32     33                    UNIVERSITY OF CALIFORNIA, DAVIS
33     34                               UNIVERSITY OF ZURICH
34     35                       ERASMUS UNIVERSITY ROTTERDAM
35     36                                         ETH ZURICH
36     37                            POMPEU FABRA UNIVERSITY
37     38       SHANGHAI UNIVERSITY OF FINANCE AND ECONOMICS
38     39                               TEXAS A&M UNIVERSITY
39     40                              UNIVERSITY OF ARIZONA
40     41                     UNIVERSITY OF BRITISH COLUMBIA
41     42                        UNIVERSITY OF TEXAS, AUSTIN
42     43                            UNIVERSITY OF WISCONSIN
43     44                       VRIJE UNIVERSITEIT AMSTERDAM
44     45     HONG KONG UNIVERSITY OF SCIENCE AND TECHNOLOGY
45     46                                TEL AVIV UNIVERSITY
46     47                                 UNIVERSITY OF BONN
47     48                           UNIVERSITY OF COPENHAGEN
48     49           UNIVERSITY OF ILLINOIS, URBANA-CHAMPAIGN
49     50                         CARNEGIE MELLON UNIVERSITY
50     51                           UNIVERSITY OF GOTHENBURG
51     52                    CHINESE UNIVERSITY OF HONG KONG
52     53                                   FUDAN UNIVERSITY
53     54                          PARIS SCHOOL OF ECONOMICS
54     55                            UNIVERSITY OF CAMBRIDGE
55     56                            UNIVERSITY OF MELBOURNE
56     57          UNIVERSITY OF NORTH CAROLINA, CHAPEL HILL
57     58                           UNIVERSITY OF NOTTINGHAM
58     59                               UNIVERSITY OF SYDNEY
59     60                                     BOSTON COLLEGE
60     61                              OHIO STATE UNIVERSITY
61     62                      PENNSYLVANIA STATE UNIVERSITY
62     63                    SINGAPORE MANAGEMENT UNIVERSITY
63     64                                 TILBURG UNIVERSITY
64     65                              UNIVERSITY OF COLOGNE
65     66             BARCELONA GRADUATE SCHOOL OF ECONOMICS
66     67                           JOHNS HOPKINS UNIVERSITY
67     68                             UNIVERSITY OF MANNHEIM
68     69                           UNIVERSITY OF NOTRE DAME
69     70                           ARIZONA STATE UNIVERSITY
70     71                       GEORGE WASHINGTON UNIVERSITY
71     72                                 INDIANA UNIVERSITY
72     73                              UNIVERSITY OF BRISTOL
73     74                   UNIVERSITY OF CALIFORNIA, IRVINE
74     75                    UNIVERSITY OF CARLOS III MADRID
75     76                           UNIVERSITY OF QUEENSLAND
76     77                             UNIVERSITY OF VIRGINIA
77     78                              VANDERBILT UNIVERSITY
78     79                                  AARHUS UNIVERSITY
79     80                     AUSTRALIAN NATIONAL UNIVERSITY
80     81                    CA FOSCARI UNIVERSITY OF VENICE
81     82                           GEORGIA STATE UNIVERSITY
82     83                     KATHOLIEKE UNIVERSITEIT LEUVEN
83     84            UNIVERSITY OF CALIFORNIA, SANTA BARBARA
84     85                            UNIVERSITY OF HONG KONG
85     86               UNIVERSITY OF MINNESOTA, TWIN CITIES
86     87                              UNIVERSITY OF PARIS I
87     88                    UNIVERSITY OF TECHNOLOGY SYDNEY
88     89                                 UNIVERSITY OF YORK
89     90                        GOETHE UNIVERSITY FRANKFURT
90     91                              HEIDELBERG UNIVERSITY
91     92                              MAASTRICHT UNIVERSITY
92     93                                TSINGHUA UNIVERSITY
93     94                                 UNIVERSITY OF LYON
94     95                             UNIVERSITY OF MARYLAND
95     96                            UNIVERSITY OF ST GALLEN
96     97                              WASHINGTON UNIVERSITY
97     98                           AIX MARSEILLE UNIVERSITY
98     99                             LONDON BUSINESS SCHOOL
99    100                          MICHIGAN STATE UNIVERSITY
100   101                               STOCKHOLM UNIVERSITY
101   102                   UNIVERSITE CATHOLIQUE DE LOUVAIN
102   103                                 UNIVERSITY OF BATH
103   104                              UNIVERSITY OF BOLOGNA
104   105                               UNIVERSITY OF EXETER
105   106                              UNIVERSITY OF GEORGIA
106   107                               UNIVERSITY OF MUNICH
107   108                           UNIVERSITY OF PITTSBURGH
108   109                          UNIVERSITY OF SOUTHAMPTON
109   110                               UNIVERSITY OF VIENNA
110   111                                  XIAMEN UNIVERSITY

In [0]:
ranking_data = ranking_data.applymap(lambda i:i.lower() if type(i) == str else i)  #lowercase strings

In [0]:
organizations_data = pd.read_json("organizations_at_ejm.json")

In [0]:
organizations_data = organizations_data.applymap(lambda i:i.lower() if type(i) == str else i)  #lowercase strings

In [0]:
organizations_name_list = organizations_data["name"].tolist() #list of organization names

In [0]:
rankings_foo_process = ranking_data["institution"].apply(lambda x : process.extract(x, organizations_name_list, limit = 1)) #series of organization names matched with ranking data institution; format [(organization_name, levenshtein score)]

In [0]:
ranking_data["name"] = rankings_foo_process #create column using series

In [0]:
ranking_data["name"] = pd.DataFrame(ranking_data.name.tolist(), index = ranking_data.index) #0th element of list

In [0]:
ranking_data[["name", "match_score"]] = pd.DataFrame(ranking_data.name.tolist(), index = ranking_data.index) #split tuple into elements in two columns

In [0]:
ranking_data_perfect_match = ranking_data[ranking_data["match_score"] == 100]

In [0]:
ranking_data_imperfect_match = ranking_data[ranking_data["match_score"] != 100]

In [17]:
ranking_data_imperfect_match

     rank  ... match_score
12     13  ...          90
20     21  ...          95
24     25  ...          90
28     29  ...          98
29     30  ...          90
33     34  ...          90
35     36  ...          86
36     37  ...          89
38     39  ...          95
41     42  ...          96
42     43  ...          95
46     47  ...          92
47     48  ...          90
48     49  ...          98
50     51  ...          90
53     54  ...          90
64     65  ...          90
67     68  ...          90
71     72  ...          95
74     75  ...          86
80     81  ...          86
82     83  ...          95
86     87  ...          90
89     90  ...          90
93     94  ...          90
95     96  ...          86
96     97  ...          95
97     98  ...          98
101   102  ...          98
103   104  ...          90
106   107  ...          90
109   110  ...          90

[32 rows x 4 columns]

In [0]:
#add condition for threshold

In [0]:
ranking_with_ejmid = pd.merge(ranking_data, organizations_data, on = "name", how = "left")

In [20]:
ranking_with_ejmid

     rank           institution  ...   oid  institution_id
0       1   stanford university  ...    92              78
1       1   stanford university  ...   130              78
2       1   stanford university  ...   598              78
3       1   stanford university  ...   865              78
4       1   stanford university  ...  1167              78
..    ...                   ...  ...   ...             ...
916   110  university of vienna  ...  3557             254
917   110  university of vienna  ...  4248             254
918   110  university of vienna  ...  5022             254
919   111     xiamen university  ...   514             445
920   111     xiamen university  ...  3491             445

[921 rows x 8 columns]

In [0]:
#ranking_with_ejmid.to_json("ranking_with_ejmid.json") #export to json